*{
    margin: 0;
    padding: 0;
}
html,body, .container{
    width: 100%;
}
.clearfix:after{
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.nav{
    width: 100%;
    display: flex;
}
.nav li{
    flex:2;
    font-size: 16px;
}
.nav li:hover{
    color:#cd0a0a;
}
.text{
    width: 100%;
}
.text ul{
    display: flex;
    list-style: none;
    width: 100%;
}
.text ul li {
    float: left;
    margin-left: 5px;
    flex: 2;
}
.text ul li button{
    width: 80px;
    height: 25px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 1px #8c8c8c solid;
}
.text ul li button:hover{
    color: #cd0a0a;
}
.ax{
    width: 100%;
    margin:5px;
    height: 100px;
    overflow:auto;
}

